@page
@using System.Globalization

@inject IViewLocalizer Localizer

@model wwwroot.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
}

<main class="start">
    <div class="row">
        <div class="small-12 columns">
            <div class="img-wrapper text-center">
                <img alt="Butikkmedarbeider med målebånd og betalingsautomat. Illustrasjon." src="/images/illustrations/start.png" />
            </div>

        </div>
    </div>

    @if (CultureInfo.CurrentCulture.Name == "nb-NO")
    {
        <p class="text-center">
            <a class="button large" href="@Model.LoginUrl">Logg inn</a>
        </p>
        <p class="text-center">
            Hvordan får jeg påloggingsopplysninger?<br />
            Kontakt oss på <a style="text-decoration: underline;" href="mailto:uu@difi.no">uu@difi.no</a> dersom du mangler påloggingsopplysninger.
        </p>

        <h1>
            Tilsyn gjennom egenkontroll
        </h1>
        <p class="ingress">
            For å sikre at nettløsninger og automater kan brukes av alle, fører Difi tilsyn med virksomheter. I 2019 skal vi kontrollere betalingsterminaler gjennom egenkontroll. Det betyr at det er virksomheten selv som tester, registrerer og sender inn opplysninger om sine betalingsterminaler til Difi.
            <br /><br />
        </p>

        <h2 tabindex="-1">
            Egenkontroll av kravene til universell utforming av betalingsterminaler
        </h2>

        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <p>
                    Tilsynet for universell utforming av ikt er en del av Direktoratet for forvaltning og ikt (Difi). Vi har ansvaret for å kontrollere om nettsider og automater er universelt utformet.
                </p>
                <p>
                    Egenkontrollen omfatter én betalingsterminal. Virksomheten skal melde inn opplysninger om plassering og omgivelsene til betalingsterminalen.
                </p>

                <p>
                    Kravene er:
                    <ul>
                        <li>Kundens betjeningsområde foran betalingsterminalen skal være minst 150 x 150 centimeter. Det skal være uten hindringer.</li>
                        <li>Det skal ikke henge gjenstander lavere enn 220 cm ned i kundens betjeningsområde.</li>
                        <li>Dersom to eller flere betalingsterminaler står ved siden av hverandre på rett linje, skal det være minst 150 centimeter fra midten av betalingsterminalen til midten av neste betalingsterminal.</li>
                        <li>Skiltet skal plasseres over betalingsterminalen. Skiltet skal være synlig på avstand, utenfor kundens betjeningsområde.</li>
                        <li>Høyden på betjeningskomponenter som skjerm og tastatur skal være mellom 75 centimeter og 130 centimeter over gulvet.</li>
                    </ul>
                </p>


                <p>
                    <img alt="Betjeningsområdet med avstander. Illustrasjon." src="/images/illustrations/00.png" />
                </p>

                <p>
                    Du finner mer informasjon om tilsynet og regelverket på <a style="text-decoration: underline;" target="_blank" tabindex="-1" href="https://uu.difi.no">uu.difi.no</a>.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Dette trenger du for å gjennomføre egenkontrollen:
        </h2>
        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <ul>
                    <li>
                        tommestokk eller målebånd
                    </li>
                    <li>
                        kamera eller mobiltelefon med kamera
                    </li>
                    <li>
                        en e-ID for å kunne logge deg inn via ID-porten, f.eks. BankID
                    </li>
                    <li>
                        virksomhetens organisasjonsnummer som står oppgitt i tilsynsvarslet virksomheten mottok fra Difi (kun ved første gangs innlogging)
                    </li>
                    <li>
                        en firesifret kode virksomheten mottok fra Difi i tilsynsvarselet (kun ved første gangs innlogging)
                    </li>
                </ul>

                <p>
                    Det tar omtrent 15 minutter å gjennomføre egenkontrollen. Dersom det er nødvendig, kan flere personer i virksomheten registrere informasjon i egenkontrollen.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Opplysningene blir lagret underveis
        </h2>
        <div class="jsViewStartInfoContainer">

            <div class="jsViewStartInfoToggleTarget view-top-part">
                <p>
                    Opplysningene du registrerer i skjemaet, blir lagret underveis. Deler av informasjonen du skriver i egenkontrollen, skal i tillegg dokumenteres med foto. Dette gjør det enklere for Difi å vurdere om kravene til universell utforming er oppfylt. Alle opplysninger du registrerer, kan endres frem til du sender inn egenkontrollen. Du kan rette opp feil slik at opplysningene du sender inn er riktige.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Personvernerklæring
        </h2>
        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <h3>1. Kontaktinformasjon til Difi</h3>
                <p>
                    Direktoratet for forvaltning og ikt (Difi) tilsyn for universell utforming<br />
                    <a style="text-decoration: underline;" tabindex="-1" href="mailto:uu@difi.no">uu@difi.no</a><br />
                    PB 8115 Dep., 0032 Oslo<br />
                    Kontaktperson: Vibeke Johnsen Sverdrup<br />
                    Personvernombudet vårt kan du kontakte på e-postadressen <a style="text-decoration: underline;" tabindex="-1" href="mailto:personvernombud@difi.no">personvernombud@difi.no</a>.<br />
                    <br />
                    Du du kan også sende post til:<br />
                    Difi<br />
                    Postboks 8115 Dep.<br />
                    0032 Oslo<br />
                    Merk konvolutten "Difis personvernombud"<br />
                </p>

                <h3>2. Behandlingens formål og behandlingsgrunnlag</h3>
                <p>
                    Difi benytter personopplysningene til å administrere egenkontrollene, for eksempel til:
                </p>
                <ul>
                    <li>identifikasjon av kontaktperson og den i virksomheten som utfører egenkontrollen</li>
                    <li>distribusjon av tilsynsvarsel</li>
                    <li>kommunikasjon</li>
                </ul>
                <p>
                    Behandlingsgrunnlaget for dette er personvernforordningen artikkel 6 (1) e) som tillater oss å behandle opplysninger som er nødvendig for utøvelse av offentlig myndighet. Tilsynet i Difi fører tilsyn etter forskrift om universell utforming av ikt-løsninger av 21. juni 2013. Tilsynet ifølge forskriftens §5 kan kreve de opplysninger som er nødvendige for å gjennomføre sine oppgaver.
                </p>

                <h3>3. Hvilke personopplysninger behandles</h3>
                <p>
                    I forbindelse med egenkontrollen av kravene til universell utforming av betalingsterminaler behandler Difi opplysninger om kontaktpersonen. Dette omfatter fornavn, etternavn, e-postadresse, telefonnummer og fødselsnummer.
                    <br /><br />
                    Kontaktpersonen som har mottatt tilsynsvarsel fra Difi er allerede registrert i egenkontrollen med fornavn, etternavn, e-postadresse og telefonnummer. Disse opplysningene er hentet fra Brønnøysundregistrene og er registrert manuelt av Difi.
                    <br /><br />
                    Egenkontrollen kan utføres av både kontaktpersonen som har mottatt tilsynsvarslet fra Difi, og andre ansatte i virksomheten som har mottatt nødvendige innloggingsdata. For alle som logger inn i løsningen, vil fødselsnummeret bli lagret.
                </p>

                <h3>4. Hvordan slettes opplysningene</h3>
                <p>
                    Personopplysningene vil bli slettet fra løsningen etter at tilsynet er avsluttet. Dersom tilsynet ikke blir gjennomfør blir personopplysningene slettet manuelt av ansatte i Difi.
                </p>

                <h3>5. Rettigheter</h3>
                <p>
                    Du har rett til innsyn i personopplysninger om deg selv. Du kan også be om retting eller sletting av mangelfulle eller uriktige opplysninger. Kravet ditt vil bli behandlet kostnadsfritt og senest innen 30 dager. Forespørsler om innsyn kan rettes til <a style="text-decoration: underline;" tabindex="-1" href="mailto:vibekejohnsen.sverdrup@difi.no">vibekejohnsen.sverdrup@difi.no</a>
                    <br /><br />
                    Dersom du mener Difi ikke har overholdt dine rettigheter i henhold til personopplysningsloven, har du rett til å klage til Datatilsynet.
                </p>

                <h3>6. Deling av informasjon til tredjeparter</h3>
                <p>
                    Difi utleverer ikke opplysninger til tredjepart. Personopplysningene lagres innenfor EUs medlemsland.
                </p>

                <h3>7. Endringer i denne personvernerklæringen</h3>
                <p>
                    Dersom denne personvernerklæringen blir endret, vil Difi informere om dette.
                </p>

                <h3>8. Webanalyse og informasjonskapsler</h3>
                <p>
                    Som en viktig del av arbeidet med å lage en brukervennlig løsning, ser vi på brukermønsteret til de som benytter egenkontrollen. For å analysere informasjonen, bruker vi analyseverktøyet Google Analytics. Du kan lese mer om Google Analytics sin bruk av informasjonskapsler/cookies på Difi sine nettsider. <a style="text-decoration: underline;" tabindex="-1" href="https://www.difi.no/om-difi/personvernerklaering#Webanalyse" target="_blank">https://www.difi.no/om-difi/personvernerklaering#Webanalyse</a>
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-center">
            <a class="button large" tabindex="-1" href="@Model.LoginUrl">Logg inn</a>
        </p>
        <p class="text-center">
            Korleis får eg påloggingsopplysningar?<br />
            Kontakt oss på <a style="text-decoration: underline;" tabindex="-1" href="mailto:uu@difi.no">uu@difi.no</a> dersom du manglar påloggingsopplysningar.
        </p>

        <h1>
            Tilsyn gjennom eigenkontroll
        </h1>
        <p class="ingress">
            For å sikre at nettløysingar og automatar kan brukast av alle fører Difi tilsyn med verksemder. I 2019 skal vi kontrollere betalingsterminalar gjennom eigenkontroll. Det betyr at det er verksemda sjølv som testar, registrerer og sender inn opplysningar om betalingsterminalane sine til Difi.
            <br /><br />
        </p>

        <h2 tabindex="-1">
            Eigenkontroll av krava til universell utforming av betalingsterminalar
        </h2>

        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <p>
                    Tilsynet for universell utforming av ikt er ein del av Direktoratet for forvaltning og ikt (Difi). Vi har ansvaret for å kontrollere om nettsider og automatar er universelt utforma.
                </p>
                <p>
                    Eigenkontrollen omfattar éin betalingsterminal. Verksemda skal melde inn opplysningar om plassering og omgivnadene til betalingsterminalen.
                </p>

                <p>
                    Krava er:
                    <ul>
                        <li>Beteningsområdet til kunden framføre betalingsterminalen skal vere minst 150 x 150 centimeter. Det skal vere utan hindringar.</li>
                        <li>Det skal ikkje henge gjenstandar lågare enn 220 cm ned i beteningsområdet til kunden.</li>
                        <li>Dersom to eller fleire betalingsterminalar står ved sidan av kvarandre på rett linje, skal det vere minst 150 centimeter frå midten av betalingsterminalen til midten av neste betalingsterminal.</li>
                        <li>Skilt skal plasserast over betalingsterminalen. Skilt skal vere synleg på avstand, utanfor beteningsområdet til kunden.</li>
                        <li>Høgda på beteningskomponentar som skjerm og tastatur skal vere mellom 75 centimeter og 130</li>
                    </ul>
                </p>

                <p>
                    <img alt="Betjeningsområdet med avstander. Illustrasjon." src="/images/illustrations/00.png" />
                </p>

                <p>
                    Du finner meir informasjon om tilsynet og regelverket på <a style="text-decoration: underline;" target="_blank" tabindex="-1" href="https://uu.difi.no">uu.difi.no</a>.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Dette treng du for å gjennomføre eigenkontrollen:
        </h2>
        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <ul>
                    <li>
                        tommestokk eller måleband
                    </li>
                    <li>
                        kamera eller mobiltelefon med kamera
                    </li>
                    <li>
                        ein e-ID for å kunne logge deg inn via ID-porten, f.eks. BankID
                    </li>
                    <li>
                        organisasjonsnummeret til verksemda som står oppgjeve i tilsynsvarselet som verksemda fekk frå Difi (berre ved første gongs innlogging)
                    </li>
                    <li>
                        ein firesifra kode som verksemda fekk frå Difi i tilsynsvarselet (berre ved første gongs innlogging)
                    </li>
                </ul>

                <p>
                    Det tar om lag 15 minutt å gjennomføre eigenkontrollen. Dersom det er nødvendig, kan fleire personar i verksemda registrere informasjon i eigenkontrollen.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Opplysningane blir lagra undervegs
        </h2>
        <div class="jsViewStartInfoContainer">

            <div class="jsViewStartInfoToggleTarget view-top-part">
                <p>
                    Opplysningane du registrerer i skjemaet, blir lagra undervegs. Delar av informasjonen du skriv i eigenkontrollen, skal i tillegg dokumenterast med foto. Dette gjer det enklare for Difi å vurdere om krava til universell utforming er oppfylte. Alle opplysningar du registrerer, kan endrast fram til du sender inn eigenkontrollen. Du kan rette opp feil slik at opplysningane du sender inn er riktige.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>

        <h2 tabindex="-1">
            Personvernerklæring
        </h2>
        <div class="jsViewStartInfoContainer">
            <div class="jsViewStartInfoToggleTarget view-top-part">
                <h3>1. Kontaktinformasjon til Difi </h3>
                <p>
                    Direktoratet for forvaltning og ikt (Difi) tilsyn for universell utforming<br />
                    <a style="text-decoration: underline;" tabindex="-1" href="mailto:uu@difi.no">uu@difi.no</a><br />
                    PB 8115 Dep., 0032 Oslo<br />
                    Kontaktperson: Vibeke Johnsen Sverdrup<br />
                    Personvernombodet vårt kan du kontakte på e-postadressa <a style="text-decoration: underline;" tabindex="-1" href="mailto:personvernombud@difi.no">personvernombud@difi.no</a>.<br />
                    <br />
                    Du kan også sende post til:<br />
                    Difi<br />
                    Postboks 8115 Dep.<br />
                    0032 Oslo<br />
                    Merk konvolutten "Difis personvernombod"<br />
                </p>

                <h3>2. Formål og behandlingsgrunnlag for behandlinga</h3>
                <p>
                    Difi brukar personopplysningane til å administrere eigenkontrollane, for eksempel til:
                </p>
                <ul>
                    <li>identifikasjon av kontaktperson og den verksemda som utfører eigenkontrollen</li>
                    <li>distribusjon av tilsynsvarsel</li>
                    <li>kommunikasjon</li>
                </ul>
                <p>
                    Behandlingsgrunnlaget for dette er personvernforordninga artikkel 6 (1) e) som tillèt oss å behandle opplysningar som er nødvendige for utøving av offentleg myndigheit. Tilsynet i Difi fører tilsyn etter forskrift om universell utforming av ikt-løysinger av 21. juni 2013. Tilsynet kan ifølge § 5 i forskrifta krevje dei opplysningane som er nødvendige for å gjennomføre  oppgåvene sine.
                </p>

                <h3>3. Kva slags personopplysningar som blir behandla</h3>
                <p>
                    I samband med eigenkontrollen av krava til universell utforming av betalingsterminalar behandlar Difi opplysningar om kontaktpersonen. Dette omfattar førenamn, etternamn, e-postadresse, telefonnummer og fødselsnummer.
                    <br /><br />
                    Kontaktpersonen som har fått tilsynsvarsel frå Difi, er allereie registrert i eigenkontrollen med førenamn, etternamn, e-postadresse og telefonnummer. Desse opplysningane er henta frå Brønnøysundregistera og er registrerte manuelt av Difi.
                    <br /><br />
                    Eigenkontrollen kan utførast av både kontaktpersonen som har fått tilsynsvarselet frå Difi, og andre tilsette i verksemda som har fått nødvendige innloggingsdata. For alle som loggar inn i løysinga, vil fødselsnummeret bli lagra.
                </p>

                <h3>4. Korleis opplysningane blir sletta</h3>
                <p>
                    Personopplysningane vil bli sletta frå løysingane etter at tilsynet er avslutta. Dersom tilsynet ikkje blir gjennomført, blir personopplysningane sletta manuelt av tilsette i Difi.
                </p>

                <h3>5. Rettar</h3>
                <p>
                    Du har rett til innsyn i personopplysningar om deg sjølv. Du kan også be om retting eller sletting av mangelfulle eller urette opplysningar. Kravet ditt vil bli behandla kostnadsfritt og seinast innan 30 dagar. Førespurnader om innsyn kan rettast til <a style="text-decoration: underline;" tabindex="-1" href="mailto:vibekejohnsen.sverdrup@difi.no">vibekejohnsen.sverdrup@difi.no</a>
                    <br /><br />
                    Dersom du meiner at Difi ikkje har overhalde rettane dine i samsvar med  personopplysningslova, har du rett til å klage til Datatilsynet.
                </p>

                <h3>6. Deling av informasjon til tredjepartar</h3>
                <p>
                    Difi utleverer ikkje opplysningar til tredjepart. Personopplysningane blir lagra innanfor medlemslanda i EU.
                </p>

                <h3>7. Endringar i denne personvernerklæringa</h3>
                <p>
                    Dersom denne personvernerklæringa blir endra, vil Difi informere om dette.
                </p>

                <h3>8. Webanalyse og informasjonskapslar</h3>
                <p>
                    Som ein viktig del av arbeidet med å lage ei brukarvenleg løysing, ser vi på brukarmønsteret til dei som brukar eigenkontrollen. For å analysere informasjonen brukar vi analyseverktøyet Google Analytics. Du kan lese meir om Google Analytics sin bruk av informasjonskapslar/cookies på Difi sine nettsider.
                </p>
            </div>

            <div class="row minus-margin">
                <div class="small-7 medium-4 small-centered columns">
                    <button class="alt small button jsToggleViewStartInfoButton">Vis mer</button>
                </div>
            </div>
        </div>
    }

    <br /> <br />
</main>