@page

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model wwwroot.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>Velkommen!</h1>

<h2>
    Info om selvdeklarering av automater
</h2>

<p>
    Du trenger følgende verktøy: Målebånd eller tommestokk, kamera.
    <br /><br />
    For betalingsterminaler, er dette området kassen.
    <br /><br />
    Gå bort til området der automaten er.
</p>

<a href="@Model.LoginUrl">Logg inn</a>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}