/* Styles used by the TinyMCE editor */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #000;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    EditMenuTitle: Rubriker;
    EditMenuName: Heading 2;
}
h3 {
    font-size: 24px;
    font-weight: bold;
    EditMenuName: Heading 3;
}
h4 {
    font-size: 21px;
    font-weight: bold;
    EditMenuName: Heading 4;
}
h2, h3, h4 {
    margin-bottom: 4px;
    font-family: "Montserrat", sans-serif;
}

a.underlineLink, a.pdf-link, a.doc-link, a.xls-link, a.ppt-link, a.txt-link, a.img-link {
    display: inline-block;
    text-decoration:none;
    padding: 0 2px;
    background: url("cssimg/icons-editor.png") 0 -3941px no-repeat;
    border-bottom: 3px solid #000;
}

a.pdf-link, a.doc-link, a.xls-link, a.ppt-link, a.txt-link, a.img-link {
    display: inline-block;
    padding: 8px 2px 8px 38px;
}

a.underlineLink {
    EditMenuTitle: links;
    EditMenuName: underlinelink;
}

a.doc-link {
    background-position: 2px 2px;
    EditMenuName: docLink;
}

a.pdf-link {
    background-position: 2px -198px;
    EditMenuName: pdfLink;
}

a.xls-link {
    background-position: 2px -398px;
    EditMenuName: xlsLink;
}
a.txt-link {
    background-position: 2px -598px;
    EditMenuName: txtLink;
}
a.ppt-link {
    background-position: 2px -798px;
    EditMenuName: pptLink;
}
a.img-link {
    background-position: 2px -998px;
    EditMenuName: imgLink;
}
 

.mceContentBody table { font-size: 13px;}
.mceContentBody table th { font-weight: bold; text-align: left; padding: 9px 10px; line-height: 18px; }
.mceContentBody table td { text-align: left; padding: 9px 10px; line-height: 18px; }


/*table.noFrames, table.noFrames th, table.noFrames td {
    border: 1px dashed #ddd;
    EditMenuTitle: Tabeller;
    EditMenuName: noFrames;
}

table.noFrames th {background-color: #fff;}
table.noFrames td {background-color: #fff;}*/



/* Block Preview */
.alert-info {
    background-color: #FFF8AA;
    border-color: #858585;
    color: #000000;
    font-family: Verdana;
    font-size: 13px;
}

.header.dim {
    margin: 2% 0;
    opacity: 0.3;
}