@page
@model Sjalvdeklaration.Pages.Admin.AddCompanyModel

@{
    ViewData["Title"] = "Ny virksamhet";
}

<h1>Ny virksamhet</h1>

<nav>
    <ul>
        <li>
            <a asp-page="DeclarationList">Administrere selvdeklarasjoner</a>
        </li>
        <li>
            <a asp-page="CompanyList">Administrere virksomheter</a>
        </li>
        <li>
            <a asp-page="UserList">Administrere interne brukere</a>
        </li>
    </ul>
</nav>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="AddCompanyForm.CorporateIdentityNumber">
            Corporate Identity Number:
            <span asp-validation-for="AddCompanyForm.CorporateIdentityNumber"></span>
        </label>
        <input type="text" asp-for="AddCompanyForm.CorporateIdentityNumber" />
    </div>

    <div>
        <label asp-for="AddCompanyForm.Code">
            Code:
            <span asp-validation-for="AddCompanyForm.Code"></span>
        </label>
        <input type="text" asp-for="AddCompanyForm.Code" />
    </div>
    
    <fieldset>
        <legend>
            Kontaktperson Virksomhet
        </legend>

        <div>
            <label asp-for="AddCompanyForm.ContactPersonName">
                Name:
                <span asp-validation-for="AddCompanyForm.ContactPersonName"></span>
            </label>
            <input type="text" asp-for="AddCompanyForm.ContactPersonName" />
        </div>

        <div>
            <label asp-for="AddCompanyForm.ContactPersonEmail">
                Email:
                <span asp-validation-for="AddCompanyForm.ContactPersonEmail"></span>
            </label>
            <input type="text" asp-for="AddCompanyForm.ContactPersonEmail" />
        </div>

        <div>
            <label asp-for="AddCompanyForm.ContactPersonPhone">
                Phone:
                <span asp-validation-for="AddCompanyForm.ContactPersonPhone"></span>
            </label>
            <input type="text" asp-for="AddCompanyForm.ContactPersonPhone" />
        </div>
    </fieldset>

    <div>
        <input type="submit" value="Lägg till" />
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}