@page
@model CompanyListModel

@{
    ViewData["Title"] = "Start";
}

<h1>Administrere virksamheter</h1>

<form method="post">
    <table class="table">
        <caption>
            <h2>Virksamheter</h2>
        </caption>
        <thead>
            <tr>
                <th scope="col">Corporate Identity Number</th>
                <th scope="col">Name</th>
                <th scope="col">ContactPerson Name</th>
                <th scope="col">ContactPerson Email</th>
                <th scope="col">ContactPerson Phone</th>
                <th scope="col">Have Declaration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompanyList)
            {
                var contactPerson = item.ContactPersonList.FirstOrDefault();

                <tr>
                    <td>
                        <a asp-page="CompanyForm" asp-route-id="@item.Id">@item.CorporateIdentityNumber</a>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @contactPerson?.Name
                    </td>
                    <td>
                        @contactPerson?.Email
                    </td>
                    <td>
                        @contactPerson?.PhoneCountryCode
                        @contactPerson?.Phone
                    </td>
                    <td>
                        @(item.DeclarationList.Count > 0 ? "Ja" : "Nej")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<form method="post">
    <a class="button add icon" asp-page="CompanyForm">Opprett ny virksomhet</a>
    <button type="submit update" class="button" asp-page-handler="ExcelImport">Importer virksomheter fra excel</button>
</form>