@{
    Layout = "_Layout.cshtml";
}

<div class="site-wrapper">
    @{ await Html.RenderPartialAsync("Shared/_Error", new { });}

    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}