@{
    var doneString = ViewData["done"];
}

@if (doneString != null)
{

    <div class="positive" role="alert">
        <div class="row">
            <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
                <div class="feedback-summary">
                    <ul>
                        <li>@doneString</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


}