@{
    var doneString = ViewData["done"];
}

@if (doneString != null)
{

    <div class="positive" role="alert">
        <div class="row">
            <div class="xlarge-7 large-8 text-left medium-text-center medium-centered small-12 columns">
                <div class="feedback-summary">
                    @Html.Raw(doneString)
                </div>
            </div>
        </div>
    </div>


}