@{
    var errorString = ViewData["error"];
}

@if (errorString != null)
{
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <br />
            <div class="errorOnThis">
                <b class="h3">Systemfel:</b><br/>
                
                <p>Ett fel har inträffat och loggats. Kontakta systemansvarig för mer information.</p>
                
                <p>
                    <b>Felmeddelande: </b>@errorString

                </p>
                
            </div>
        </div>
    </div>
}