@{
    var errorString = ViewData["error"];
}

@if (errorString != null)
{

    <div class="negative" role="alert">
        <div class="row">
            <div class="xlarge-12 large-10 small-12 text-center large-centered xlarge-uncentered columns">
                <div class="feedback-summary">
                    <ul>
                        <li><span> @Localizer["An error has occurred and logged. Contact your system administrator for more information."]</span></li>
                    </ul>
                    <p>
                        @Localizer["Error message:"] @errorString
                    </p>
                </div>

            </div>
        </div>
    </div>
}