@{
    var errorString = ViewData["error"];
}

@if (errorString != null)
{

    <div class="negative" role="alert">
        <div class="row">
            <div class="xlarge-7 large-8 text-left medium-text-center medium-centered small-12 columns">
                <div class="feedback-summary">
                    <div class="feedback-summary-header">
                        <span>@Localizer["An error has occurred and logged. Contact your system administrator for more information."]</span>
                    </div>

                        <ul>
                            <li>@Localizer["Error message:"] @Html.Raw(errorString)</li>
                        </ul>

                    </div>
                </div>
        </div>
    </div>
}