@{
    Layout = "_Layout.cshtml";
}

<header>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="logo">
                <img alt="Difi" src="~/images/difi-logo.svg" />
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
        <br />
        @RenderBody()
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}