@using System.Globalization
@{
    Layout = "_Layout.cshtml";
}

<header>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">

            <div class="row">
                <div class="small-8 columns">
                    <div class="logo">
                        <img src="/images/logo/difi-logo@1x.png"
                             srcset="/images/logo/difi-logo@1x.png 1x, /images/logo/difi-logo@2x.png 2x, /images/logo/difi-logo@3x.png 3x, /images/logo/difi-logo@4x.png 4x"
                             alt="Difi"
                             width="119"
                             height="61"
                             class="hide-for-small-only" />

                        <span class="large-text">Egenkontroll automater</span>
                        <span class="small-text">Tilsyn for universell utforming av ikt</span>
                    </div>
                </div>
                <div class="small-4 text-right columns">


                    <div class="jsChangeLanguageContainer profile-wrapper">
                        <div class="row collapse">
                            <div class="small-12 medium-12 text-right columns">
                                <button class="jsToggleChangeLanguageButton toggle-profile-button button">

                                    <span class="profile-area-text-wrapper">
                                        <span class="profile-name ">Endre språk</span>
                                    </span>

                                    <span class="profile-icon"></span>

                                </button>
                            </div>
                        </div>

                        <div class="jsChangeLanguageToggleTarget" aria-hidden="true">
                            <form method="post">
                                @if (CultureInfo.CurrentCulture.Name == "nb-NO")
                                {
                                    <div>
                                        <span class="choose-lang"><input class="button alt" type="submit" asp-route-culture="nn-NO" asp-route-handler="setlanguage" value="Nynorsk" /></span>
                                    </div>
                                    <div>
                                        <span class="choose-lang active"><input class="button alt" type="submit" asp-route-culture="nb-NO" asp-route-handler="setlanguage" value="Bokmål" /></span>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="choose-lang active"><input class="button alt" type="submit" asp-route-culture="nn-NO" asp-route-handler="setlanguage" value="Nynorsk" /></span>
                                    </div>
                                    <div>
                                        <span class="choose-lang"><input class="button alt" type="submit" asp-route-culture="nb-NO" asp-route-handler="setlanguage" value="Bokmål" /></span>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</header>

<div class="row">
    <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
        <br />
        @RenderBody()
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}