//
// Variables
//

// We use these to control button text styles.

// We use these to controls background-color. Alert and success colors is in forms.scss
$button-bgColor-std:                    #2E7589;
$button-bgColor-white:					$color-white;



//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES




button, .button, input[type="button"], input[type="submit"] {
    position: relative;
    width: 100%;

    @include button;

    .active & {
        &.nocursor {
            cursor: default;

            &:hover {
                background-color: initial;
                background-color: $color-black;
                border: 1px solid $color-black;
                color: $color-white;
            }
        }
    }

    &:active {
        background-color: $light-navy;
    }

    &.tiny {
        padding: 0.3em 1em;
        font-size: map-get($button-sizes, tiny);
    }

    &.small {
        padding: 0.4em 1em 0.5em 1em;
        font-size: map-get($button-sizes, small);
    }

    &.large {
        padding: 0.8em 2.5em;
        font-size: map-get($button-sizes, large);
        width: 100%;
        margin: 0 0 1rem 0;
    }

    &.print {
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.alt, &.cancel {
        background-color: $alt-button-bg-color;
        color: $alt-button-color;
        vertical-align: bottom;

        &:hover,
        &:focus {
            background-color: darken($alt-button-bg-color, 6%);
        }
    }

    &.cancel {
        margin: 0 0 1rem 0;
    }

    &.delete {
        color: $dark-grey;
        background: url("/css/cssimg/icons-sprite.svg") $very-light-purple 16px -1285px no-repeat;
        padding-left: 3em;
        margin-bottom: 0;
        vertical-align: bottom;

        &.small {
            background-position: 15px -1289px;
        }
    }

    &.export {
        background-image: url("/css/cssimg/icons-sprite.svg");
        background-repeat: no-repeat;
        background-position: 5px -687px;
        margin-bottom: 0;
        margin-right: 8px;
        padding-left: 2.5rem;

        &:hover,
        &:focus,
        &:active {
            //background-color: $color-white;
        }
    }

    &.add {
        background-image: url('/css/cssimg/icons-sprite.svg');
        background-repeat: no-repeat;
        background-position: 10px -185px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0;
        color: $color-white;

        &.small {
            background-position: 7px -192px;
            padding-left: 27px;
        }
    }

    &.logout {
        white-space: nowrap;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    &.update {
    }

    &.white {
        background-color: $color-white;
        color: $light-navy;
        font-size: 17px;


        &:hover {
        }
    }


    &.back {
        background-image: url("/css/cssimg/icons-sprite.svg");
        background-repeat: no-repeat;
        background-position: 3px -1087px;
        padding: 0.5em 0.75em 0.5em 1.5em;
        width: 120px;
        white-space: nowrap;
        font-size: 15px;
        margin-top: 3px;
    }

    &.black {
        background-color: $color-black;
        color: $color-white;
        border-color: $color-black;


        &:hover, &:focus {
            background-color: $button-bgColor-std;
            border-color: $button-bgColor-std;
            color: $color-black;
        }

        &:active {
            background-color: darken($button-bgColor-std, 5%);
            border-color: darken($border-color, 5%);
        }
    }

    &.tabbed {
    }

    &.link-button {
        background-color: transparent;
        color: $dirty-blue;
        border-color: $color-black;
        text-decoration: underline;
        margin-bottom: 0.2rem;
        font-size: 17px;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    &.toogle-header-button,
    &.toogle-header-button-alt {
        text-align: left;
        font-weight: bold;
        background-color: $light-blue-grey;
        //padding: 1rem 12px 1rem 10px;
        padding: 1.3rem 12px 0.3rem 10px;
        margin-bottom: 20px;
        color: $dark-blue-grey;
        font-size: 20px;
        border-radius: 0;
        width: 100%;

        &.isDone-True,
        &.isDone-False {
            //padding: 1.3rem 12px 0.3rem 10px;
        }

        &[aria-expanded="false"] {
            .toggle-header-icon {
                top: 1px;
                transform: rotate(-45deg);
                transition: transform 200ms ease;
            }
        }

        &[aria-expanded="true"] {
            .toggle-header-icon {
                transform: rotate(-225deg);
                top: 11px;
                transition: transform 200ms ease;
            }
        }

        .toggle-header-number {
            border: 1px solid $dark-blue-grey;
            border-radius: 100px;
            width: 28px;
            height: 28px;
            display: inline-block;
            text-align: center;
            line-height: 1.15;
        }

        .toggle-header-icon {
            border: 4px solid $dark-blue-grey;
            border-top-color: transparent;
            border-right-color: transparent;
            width: 18px;
            height: 18px;
            display: inline-block;
            transform: rotate(-45deg);
            margin-left: 6px;
            position: relative;
            float: right;
            top: 7px;
        }

        .header-status-icon {
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-right: 1rem;
            position: relative;
            float: left;
            top: -7px;

            &.isDone-True, &.isDone-False {
                background-image: url("/css/cssimg/icons-sprite.svg");
                background-repeat: no-repeat;
            }

            &.isDone-True {
                background-position: 0 -1498px;
            }

            &.isDone-False {
                background-position: 0 -1398px;
            }
        }
    }

    &.toogle-header-button-alt {
        background-color: $alt-toogle-button-bg-color;
        padding-left: 28px;
        margin-bottom: 0;
        font-size: 16px;

        .toggle-header-icon {
            float: left;
            left: -12px;
        }
    }

    &.toggle-profile-button {
        text-align: right;
        font-weight: bold;
        background-color: transparent;
        padding: 0.6em 20px 0.6em 1.25em;
        margin: 8px 0 0 0;
        color: $dark-blue-grey;
        font-size: 1rem;
        border-radius: 0;
        width: 100%;

        .profile-first-letter {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-color: $purple;
            border-radius: 1000px;
            padding-top: 5px;
            text-align: center;
            font-family: $sofiapro;
            margin-right: 0.75rem;
            position: relative;
            overflow: hidden;
            font-size: 0;

            &.declaration {
                background-color: $dark-blue-grey;
            }

            &:first-letter {
                font-size: 21px;
                color: $color-white;
                text-transform: uppercase;
                font-weight: normal;
            }
        }

        .profile-area-text-wrapper {
            display: inline-block;
            padding: 0 0.5rem;
            min-height: 44px;
            position: relative;
            vertical-align: top;
        }

        .profile-icon {
            background-image: url("/css/cssimg/icons-sprite.svg");
            background-repeat: no-repeat;
            background-position: 100% -2098px;
            width: 16px;
            height: 10px;
            display: inline-block;
            position: absolute;
            right: 0;
            margin-left: 6px;
            margin-top: 8px;
        }


        &[aria-expanded="false"] {
            .profile-icon {
                transform: rotate(0deg);
                transition: transform 300ms ease;
            }
        }

        &[aria-expanded="true"] {
            .profile-icon {
                transform: rotate(180deg);
                transition: transform 300ms ease;
            }
        }

        .profile-title {
            font-weight: normal;
        }

        .profile-name {
            max-width: 100px;
        }

        .toggle-header-number {
            border: 1px solid $dark-blue-grey;
            border-radius: 100px;
            width: 28px;
            height: 28px;
            display: inline-block;
            text-align: center;
            line-height: 1.15;
        }
    }


    &.upload-photo {
        font-size: 17px;

        span {
            display: inline-block;
            width: 26px;
            height: 20px;
            background: url('/css/cssimg/icons-sprite.svg') transparent 0 -404px no-repeat;
            vertical-align: text-bottom;
        }
    }

    &.card-help-button,
    &.card-help-close-button {
        color: $color-white;
        border-radius: 4px;
        font-size: 14px;
        background-color: $dirty-blue;
        margin: 12px 12px 0 0;
        padding: 4px 16px;
        line-height: 1.2;
        text-align: center;
    }

    &.card-help-button,
    &.card-help-close-button {
        &.tabbed {
            outline: 2px solid $tabbed-color;
            background-color: inherit !important;
            color: inherit !important;
            text-decoration: none !important;
        }
    }

    &.wide {
        padding-left: 0rem;
        padding-right: 0rem;
        min-width: 60%;
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

header {
    .choose-lang {
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            display: inline-block;
            border-radius: 100px;
            position: absolute;
            top: 10px;
            left: 5px;
            background: $ice-blue;
            border: 1px solid $grey-blue;
            width: 24px;
            height: 24px;
        }

        &.active {
            &:before {
                background-color: $grey-blue;
                box-shadow: inset 0 0 0 4px $ice-blue;
            }
        }

        .button {
            background-color: transparent;
            border: 0;
            padding: 0.4em 0em 0.4em 2em;
        }
    }
}


















input[type=button], input[type=submit], button {
    &.tabbed {
        //background-color: $tabbed-color !important;
        //color: $color-white !important;
        //text-decoration: underline !important;
        outline: 2px solid $tabbed-color;
    }
}

a, input[type=text], input[type=number], textarea, select {
    &.tabbed {
        outline: 2px solid $tabbed-color;
    }
}

.qq-upload-button-focus .upload-photo {
    background-color: scale-color($button-bgColor-std, $lightness: -15%);
    //color: $color-white !important;
    //text-decoration: underline !important;
    //text-decoration: underline;
    outline: 2px solid $tabbed-color;
}

input[type=file].tabbed + button {
    outline: 2px solid $tabbed-color;
}

// Make span in upload form to block element
// Hide input
.fileUploadArea {
    /*background-color: #f8f8f8;
    padding: 0.5rem 1rem 0 1rem;
    display: inline-block;*/

    label {
        display: block;
        position: relative;
    }

    .fileUploadButtonsArea {
        position: relative;
        height: 42px;
        margin: 13px 0 16px 0;
    }

    input[type=file] {
        //width: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 43px;
        margin: 0;
        padding: 0;
        width: 150px;

        &.tabbed + button {
            outline: 2px solid $tabbed-color;
        }
    }

    button.button.choose-file {
        //width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        margin: 0;
    }

    .form-field {
        height: 95px;

        &.errorOnThis {
            margin-bottom: 0;
            height: 155px;
        }
    }

    #img-name p {
        margin-bottom: 0;
    }
}

// Create a variable for my custom color.
//$custom-color: get-color(custom);


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/


// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {

    button, .button, input[type="button"], input[type="submit"] {
        width: auto;

        &.text-button {
            margin: 0 1rem;
        }

        &.alt {
            margin: 0 0.75rem 0 0;
        }

        &.wide {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        &.large, &.cancel {
            width: auto;
            margin: 0 0.75rem 0 0;
        }

        &.toogle-header-button-alt {
            font-size: 20px;
        }
    }
}

// LARGE SCREEN
@include breakpoint(large) {

}
