//
// Variables
//


//--------------------------------------------------------------*/
// COLORS
//--------------------------------------------------------------*/

// WHITE/GRAY/BLACK
$color-white:						#fff; 
$color-black:						#000;
$color-gray-1:                      #44303C;
$color-gray-2:                      #72616c;
$color-gray-3:                      #393036;
$color-gray-4:                      #f6f5f6;


// BLUE
$color-blue:                        #127dac;
$color-blue-light:                  #e8f5fa;
$color-blue-dark:                   #177299;
$color-blue-darker:                 #0e6489;
$color-blue-darkest:                #04364b;

$light-blue-grey:                   #b5d2db;
$dark-blue-grey:                    #1f3f43;
$dark-grey:                         #303132;

$grey-blue:                         #618285;
$dirty-blue:                        #458596;
$ice-blue:                          #e7eff1;
$light-navy:                        #17667c;

// GREEN
$color-green:                       #1d754f;
$color-green-light:                 #d3f5df;
$color-green-dark:                  #7fffc7;


// PINK/RED
$color-pink:                        #d41472;
$color-pink-light:                  #ffeef6;
$color-pink-dark:                   #e570a9;


$local-navigation-border:            #478dac;


// Tabbed - border -etc
$tabbed-color:                      $color-blue-darkest;
$border-color:                      $color-gray-4;



// Error colors
$color-error: $color-pink-light;