//
// Variables
//


//--------------------------------------------------------------*/
// COLORS
//--------------------------------------------------------------*/

// WHITE/GRAY/BLACK
$color-white:						#fff; 
$color-black:						#000;
$color-gray-1:                      #44303C;
$color-gray-2:                      #72616c;
$color-gray-3:                      #393036;
$color-gray-4:                      #f6f5f6;


// BLUE
$color-blue:                        #127dac;
$color-blue-light:                  #e8f5fa;
$color-blue-dark:                   #177299;
$color-blue-darker:                 #0e6489;
$color-blue-darkest:                #04364b;

$light-blue-grey:                   #b5d2db;
$dark-blue-grey:                    #1f3f43;
$dark-grey:                         #303132;

$grey-blue:                         #618285;
$dirty-blue:                        #458596;
$ice-blue:                          #e7eff1;
$light-navy:                        #17667c;
$cool-grey:                         #a2aab1;
$very-light-purple:                 #e7dde7;
$bg-forms:                          #f2eff2;
$alt-button-bg-color:               #B5D2DB;
$alt-button-color:                  #303132;


// Tabbed - border -etc
$tabbed-color:                      $color-blue-darkest;
$border-color:                      $light-blue-grey;


// Error colors
$color-error:                       #ffeef6;
