//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.global-navigation {
    margin-top:1rem;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 3px 1rem;

        a, span {
            font-family: $sofiapro;
            padding: 4px;
            display: block;
            color: $light-navy;
            position: relative;
            border-bottom: 2px solid $light-navy;
            font-size: 17px;
            font-weight: bold;
        }

        a:hover, &.active a {
            border-bottom-color: $color-white;
            color: $dark-grey;
        }

        span {
            color: $dark-grey;
            font-weight: normal;
        }

        &.active {
            a, span {
                color: $dark-grey;
            }
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {



}

// LARGE SCREEN
@include breakpoint(large) {



}