//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

header {
    background-color: #daebf2;
    min-height: 100px;

    ul li, ol li {
        padding: 0 16px 0 0;
    }

    .menu .button {
        margin: 5px 0;
    }
}





//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {

    header {
    }
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE
@include breakpoint(large) {
    header {
    }
}
//--------------------------------------------------------------*/
