//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

header {
    background-color: $color-white;
    min-height: 90px;

    &.no-bg {
        background-color: transparent;
        margin-top: 1.5rem;
    }

    .logo {
        margin: 13px 0 0 -130px;
    }

    .profile-wrapper {
    }

    .profile-area, .profile-info-area {
    }

    .profile-info-area {

        ul {
            margin: 0;
            padding: 0;
            list-style: none;


            li {
                border-bottom: 1px solid $ice-blue;
            }

            a, .button {
                background-color: transparent;
                padding: 1rem;
                color: $dark-blue-grey;
                border: 0;
                display: block;
                width: 100%;
                text-align: right;
                margin: 0 !important;

                &:hover, &.tabbed {
                    text-decoration: underline;
                }
            }
        }
    }

    .profile-number {
        font-weight: normal;
    }

    .profile-name {
        max-width: 100px;
    }

    .profile-image {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-color: $dark-blue-grey;
        border-radius: 1000px;
        padding-top: 3px;
        text-align: center;
        font-family: $sofiapro;
        color: transparent;
        font-size: 0;
        margin-top: 8px;

        &:first-letter {
            font-size: 21px;
            color: $color-white;
        }
    }

    .toggle-profile-button {
        // Button is in button.scss
    }

    .status-text {
        font-size: 17px;
        line-height: 19px;
        display: inline-block;
        font-family: $sofiapro;
    }


    .status {
        width: 54px;
        height: 54px;
        display: inline-block;
        background-color: $color-white;
        border: 2px solid #C9E2E4;
        box-shadow: inset 0px 0px 0px 3px $ice-blue;
        border-radius: 1000px;
        padding-top: 15px;
        text-align: center;
        transform: rotate(-45deg);
        transition: border 800ms ease-out;
        font-family: $sofiapro;

        .status-done {
            font-size: 15px;
            transform: rotate(45deg);
        }

        &.status-25 {
            border-right-color: $dirty-blue;
        }


        &.status-50 {
            border-right-color: $dirty-blue;
            border-bottom-color: $dirty-blue;
        }


        &.status-75 {
            border-right-color: $dirty-blue;
            border-bottom-color: $dirty-blue;
            border-left-color: $dirty-blue;
        }

        &.status-100 {
            border-color: $dirty-blue;
        }
    }
}





//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {

    header {
        .logo {
            margin: 13px 0 0 0;
        }
    }
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE
@include breakpoint(large) {
    header {
    }
}
//--------------------------------------------------------------*/
