div {



    .tablesorter-default {
        font-size: 14px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        color: #354052;
        background-color: transparent;
        border-spacing: 0;
        text-align: left;

        .clickable-td {
            vertical-align: middle;

            &:hover {
                cursor: pointer;
            }

            a {
                font-family: $sofiapro;
                font-weight: bold;
                color: $light-navy;
                text-decoration: underline;
            }
        }

        tbody tr {
            &:hover {
                background-color: #F3F7F8;
            }
        }
    }

    .tablesorter-default th, .tablesorter-default thead td {
        font-weight: 700;
        color: $dark-blue-grey;
        background-color: transparent;
        border-collapse: collapse;
        border-bottom: $cool-grey 1px solid;
        padding: 10px 4px;
    }

    .tablesorter-default tfoot td, .tablesorter-default tfoot th {
        border: 0;
    }

    .tablesorter-default .header, .tablesorter-default .tablesorter-header {
        div {
            background-image: url("/css/cssimg/icons-sprite.svg");
            background-position: 100% -792px;
            background-repeat: no-repeat;
            cursor: pointer;
            white-space: normal;
            padding: 6px 22px 6px 6px;
            display: inline-block;
        }
    }

    .tablesorter-default thead {

        .headerSortUp,
        .tablesorter-headerAsc,
        .tablesorter-headerSortUp,
        .headerSortDown,
        .tablesorter-headerDesc,
        .tablesorter-headerSortDown {
            div {
                background-color: $color-white;
            }
        }
    }



    .tablesorter-default thead .headerSortUp,
    .tablesorter-default thead .tablesorter-headerAsc,
    .tablesorter-default thead .tablesorter-headerSortUp {
        div {
            background-position: 100% -890px;
        }
    }

    .tablesorter-default thead .headerSortDown, .tablesorter-default thead .tablesorter-headerDesc, .tablesorter-default thead .tablesorter-headerSortDown {
        div {
            background-position: 100% -990px;
        }
    }

    .tablesorter-default thead .sorter-false {
        div {
            background-image: none;
            cursor: default;
            padding: 4px;
        }
    }

    .tablesorter-default td {
        border-bottom: $cool-grey 1px solid;
        padding: 1rem 6px;
    }

    tbody tr:nth-child(2n) {
        border-bottom: 0;
        background-color: transparent;
    }
}
