//
// Variables
//

$sofiapro: "sofia-pro", Helvetica, Arial, sans-serif;



$header-font-family: $sofiapro;
$header-font-family-smaller: $sofiapro;

// We use these to control header font sizes
$h1-font-size-special: 47px;

$h1-font-size-start: 45px;
$h2-font-size-start: 36px;




// We use these to style ingress
$ingress-font-family: $sofiapro;
$ingress-font-size: 20px;

//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES





// Ingress
.ingress {
    font-size: $ingress-font-size - 2px;
    line-height: 1.35;
    color: $color-gray-1;
    padding-top: 0.2rem;
    font-family: $ingress-font-family;
    max-width: 36rem;
}

// Header font

.h2-toggle {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 2rem 0 1rem 0;
    line-height: 1.1;

    &.h2 {
        margin: 0 0 8px 0;
        line-height: 1.1;
    }
}

h2 {
    margin: 16px 0 10px 0;
    clear:both;
    line-height: 1.1;
}

 h3, h4 {
    margin: 0;
}

h2, h3 {
    a {
        padding: 3px;
        display: inline-block;
        line-height: 1.2;
        font-size: rem-calc(map-deep-get($header-styles, medium, h4, font-size));

        &:before {
            //background: url('/css/cssimg/icons-sprite.svg') 0 -2102px no-repeat;
            display: inline-block;
            content: "";
            width: 10px;
            height: 18px;
        }

        &:hover, &:focus {
            text-decoration: underline;
        }

        &:hover {
            color: $color-blue-darker;
        }

        &.tabbed {
            &:before {
                background-position: 0 -2002px;
            }
        }
    }
}


// ul + ol + li

ul, ol {
    padding-left: 0.5em;

    li {
        padding-left: 0.5em;
    }

    &.listing, &.no-bullet, &.listing-border {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
            padding-left: 0;
        }
    }

    &.listing {
        padding-left: 0;
        margin: 1rem 0;

        ul, ol {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
        }
    }

    &.listing-border {
        padding-left: 0;
        margin: 1rem 0;
        border-top: 1px solid $border-color;

        li {
            padding: 0.125rem 0;
            border-bottom: 1px solid $border-color;
        }

        .listing-social-security-number {
            margin: 0.5rem 0 !important;
            display: inline-block;
        }

        .button {
            margin: 0.25rem 0 !important;
        }
    }

    &.qq-upload-list {
        padding-left: 0;
        margin: 0;

        ul, ol {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
        }
    }
}



a, input[type=button], input[type=submit], button, textarea, select {
    &.tabbed {
        background-color: $tabbed-color !important;
        color: $color-white !important;
        text-decoration: underline !important;
        outline: none;
    }
}

input[type=text] {
    &.tabbed {
        outline: 2px solid $tabbed-color;
    }
}

tbody {
    tr {
        button, .button {
            margin: 3px 0;
        }
    }
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/


// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {
    // Ingress
    .ingress {
        font-size: $ingress-font-size;
    }

    h1 {
        margin: 2rem 0 1rem 0;
    }
}

// LARGE SCREEN
@include breakpoint(large) {

    .ingress {

    }

}