@using Difi.Sjalvdeklaration.Shared.Classes.ValueList
@model string

@{
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var result = (ValueListTypeOfResult)ViewData["result"];
    var viewResult = (bool)ViewData["viewResult"];
}

<div class="card-divider">
    <label class="legend">

        <span class="legend-text">
            @orderText @text
        </span>

        @*@if (viewResult)
            {
                <span>
                    @if (result != null)
                    {
                        @result.Text
                    }
                </span>
            }*@

    </label>
    <div>
        @Model
    </div>
</div>
