@using Difi.Sjalvdeklaration.Shared.Classes.ValueList
@model string

@{
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var result = (ValueListTypeOfResult)ViewData["result"];
}

<div class="form-field">
    <label class="legend">
        <span class="collapse row">
            <span class="small-10 columns">
                <span class="collapse row">
                    <span class="small-2 medium-1 columns">
                        <span class="legend-number">@orderText</span>
                    </span>
                    <span class="small-10 medium-11 columns">
                        <span class="legend-text">
                            @text
                        </span>
                    </span>
                </span>
            </span>

            <span class="small-2 columns">
                @if (result != null)
                {
                    @result.Text    
                }
            </span>
        </span>
    </label>

    <div class="card-divider">
        @Model
    </div>
</div>
