@using Difi.Sjalvdeklaration.Shared.Classes.ValueList
@model bool?

@{
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var result = (ValueListTypeOfResult)ViewData["result"];
    var trueText = ViewData["trueText"];
    var falseText = ViewData["falseText"];
    var viewResult = (bool)ViewData["viewResult"];
}

<div class="form-field">
    <label class="legend">
        <span class="collapse row">
            <span class="small-10 columns">
                <span class="collapse row">
                    <span class="small-2 medium-1 columns">
                        <span class="legend-number">@orderText</span>
                    </span>
                    <span class="small-10 medium-11 columns">
                        <span class="legend-text">
                            @text
                        </span>
                    </span>
                </span>
            </span>

            <span class="small-2 columns">
                @if (viewResult)
                {
                    <span>
                        @if (result != null)
                        {
                            @result.Text
                        }
                    </span>
                }
            </span>
        </span>
    </label>

    <div class="card-divider">
        @if (Model != null)
        {
            @(Model.Value ? trueText : falseText)
        }
    </div>
</div>
