@using Difi.Sjalvdeklaration.Shared.Classes.ValueList
@model Difi.Sjalvdeklaration.Shared.Classes.ImageItem

@{
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var result = (ValueListTypeOfResult)ViewData["result"];
    var viewResult = (bool)ViewData["viewResult"];
}

<div class="card-divider">
    <label class="legend">

        <span class="legend-text">
            @orderText @text
        </span>

        @*@if (viewResult)
            {
                <span>
                    @if (result != null)
                    {
                        @result.Text
                    }
                </span>
            }*@

    </label>

    <div>
        @if (Model != null)
        {
            var image1 = Model.Container + "/" + Model.Blob;

            <img src="@image1" alt="" width="200" />
        }
        else
        {
            <img src="/images/image_missing.png" width="75" alt="Bilde mangler" />
        }
    </div>
</div>