@model Difi.Sjalvdeklaration.Shared.Classes.ValueList.ValueList

<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
    </label>
    
    @Model.Text<br/><br />
</div>