@model int

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
}

<div class="form-field">
    <label for="@name">
        @if (firstQuestion)
        {
            <span>@orderText</span>
        }

        @text
    </label>

    <input type="number" autocomplete="off" id="@name" name="@name" value="" />
</div>