@model int

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
}


<div class="form-field">

    <label class="legend" for="@name">
        @if (firstQuestion)
        {
            <span class="legend-number">@orderText</span>
        }

        @text

        <span class="card-help">card-help</span>
    </label>


    <div class="card-help-text">
        card-help-text
    </div>

    <div class="card-divider">
        <input type="number" autocomplete="off" id="@name" name="@name" value="" />
    </div>
 
</div>

