@model string

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
}

<div class="form-field">
    <label for="@name">
        @text
    </label>

    <input type="text" autocomplete="off" id="@name" name="@name" value="" />
</div>