@model string

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
}

<div class="form-field">
    <label for="@name">
        @text
    </label>
    
    <textarea id="@name" name="@name" value="">
    </textarea>
</div>