@using System.Globalization
@model DateTime

@{
    var minDate = DateTime.Now.Date;

    if (Model < minDate)
    {
        minDate = Model.Date;
    }

    var currentDateTimeString = Model.ToString("yyyy-MM-ddTHH:mm", CultureInfo.InvariantCulture);
    var minDateTimeString = minDate.ToString("yyyy-MM-ddTHH:mm", CultureInfo.InvariantCulture);
    var maxDateTimeString = DateTime.Now.AddYears(5).Date.ToString("yyyy-MM-ddTHH:mm", CultureInfo.InvariantCulture);
}

<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
        @Html.ValidationMessageFor(m => m)
    </label>

    @Html.TextBoxFor(m => m, currentDateTimeString, new { data_label = Html.DisplayNameFor(m => m), type = "datetime-local", min = minDateTimeString, max = maxDateTimeString })
</div>