@using System.Globalization
@model DateTime

@{
    var currentDateTime = Model.ToString("yyyy-MM-ddTHH:mm", CultureInfo.InvariantCulture);
}

<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
        @Html.ValidationMessageFor(m => m)
    </label>

    @Html.TextBoxFor(m => m, currentDateTime, new { data_label = Html.DisplayNameFor(m => m), type = "datetime-local" })
</div>