@model string

<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
        @Html.ValidationMessageFor(m=>m)
    </label>

    @Html.TextBoxFor(m => m, new { data_label = Html.DisplayNameFor(m => m)})
</div>