@model string

@{
    var id = String.Empty;
    var uniqueId = Guid.NewGuid();
    var classname = ViewData.ContainsKey("class") ? ViewData["class"] : "";
}

<div class="form-field">
    <label for="@Html.IdFor(m => m)">
        @Html.DisplayNameFor(m => m)
    </label>

    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="@Html.IdFor(m => m)"></span>

    @Html.TextBoxFor(m => m, new { data_label = Html.DisplayNameFor(m => m), @class = classname })
</div>