@page
@model CompanyLinkModel
@{
    ViewData["Title"] = "CompanyLink";
}

<div class="row">
    <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
        <h1>LinkToCompany</h1>

        <form method="post">
            <div asp-validation-summary="All"></div>

            @Html.EditorFor(x => x.AddLinkToCompany.CorporateIdentityNumber, "TextBox")
            @Html.EditorFor(x => x.AddLinkToCompany.Code, "TextBox")

            <input type="submit" value="Add link" />
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}